body {
    --main-color:#f55942;
    --secondry-color:rgb(185, 182, 182);
    --font-color:rgb(109, 93, 93);
}
.main {
    border          : 2px solid var(--secondry-color);
    background-color: var(--main-color);
    color           : var(--font-color);
    height          : 100px;
    position: relative;
}

.sub {
    height: 300px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font, h1 {
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color           : var(--font-color);
}

.back-btn{
    border          : 2px solid var(--secondry-color);
    background-color: var(--main-color);
    color           : var(--secondry-color);
    width: 50px;
    height: 50px;
    font-size: 15px;
}

.smaller-font{
    font-size: 55px;
}

.smallest-font{
    font-size: 20px;
}

input {
    padding: 5%;
}

img{
    width: 50px;
    height: 50px;
    padding: 4px;
    margin: -2px;
}
/* input:focus{
    border          : 2px solid rgb(122, 121, 121);
} */
